<div class="container">
  <h3>About</h3>
  <p>
    Framework: <a href="https://angular.io/">Angular</a> w/
    <a href="https://rxjs-dev.firebaseapp.com/">RxJS</a><br />
    CSS Library: <a href="https://milligram.io">Milligram</a><br />
    Cards:
    <a href="https://github.com/selfthinker/CSS-Playing-Cards"
      >CSS Playing Cards</a
    >
    <br />
    Utility: <a href="https://lodash.com/">Lodash</a>
  </p>
  <p>
    I never know how much effort should I be putting in to one of these
    assignments...Never used Milligram before (I think it shows).
  </p>
</div>
