<div class="container">
  <div class="row">
    <div class="column column-50">
      <h1>{{ title }}</h1>
    </div>
    <div class="column column-50 align-left">
      <button class="button" (click)="onNewGameClick()">+ New Game</button>
      <button
        type="button"
        class="button button-clear"
        (click)="onInstructionsClick()"
      >
        Instructions
      </button>
      <button
        type="button"
        class="button button-clear"
        (click)="onAboutClick()"
      >
        About
      </button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
